<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIImage1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>323DA3A21C92ABC300A25B2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323DA3BB1C92ABC400A25B2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323DA3C61C92ABC400A25B2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
